
.nav {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row-reverse;
   
  }
  
  .nav button {
    flex: 0 0 10%;
    width: 180px;
    height: 60px;
    border-color: black;
    margin: 20px;
    font-size: calc(20px);
    background-color: white;
  }